/* navbar */

.navigte{
    flex-direction: column;
}


/* services */
#services{
    flex-direction: column;
}
#services .box{
    border: 3px solid brown;
    padding: 15px;
    margin: 15px 175px;
    border-radius: 28px;
    background-color: #f2f2f2ce;
}
/* sponsors */
#clients{
    overflow: hidden;
}
/* contacts */

/* footer */

